<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<article>

	<div class="col-sm-10">
	 <span class="post-date">
	   {% assign d = page.date | date: "%d" | plus:'0' %}
	   {{ page.date | date: "%B" }}
	   {% case d %}
	     {% when 1 or 21 or 31 %}{{ d }}st,
	     {% when 2 or 22 %}{{ d }}nd,
	     {% when 3 or 23 %}{{ d }}rd,
	     {% else %}{{ d }}th,
	   {% endcase %}
	   {{ page.date | date: "%Y" }}
	 </span>
	  <div class="article_body">
	  {{ content }}
	  </div>

		{% unless page.categories == empty %}
		<ul class="tag_box list-unstyled list-inline">
		  <li><i class="fa fa-folder-open"></i></li>
		  {% assign categories_list = page.categories %}
		  {% if categories_list.first[0] == null %}
			{% for category in categories_list %}
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
					{{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
					{% unless forloop.last %},{% endunless %}
				</a></li>
			{% endfor %}
		  {% else %}
			{% for category in categories_list %}
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
					{{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
				</a></li>
			{% endfor %}
		  {% endif %}
		</ul>
		{% endunless %}

		{% unless page.tags == empty %}
		<ul class="list-inline">
		  <li><i class="fa fa-tags"></i></li>
		  {% assign tags_list = page.tags %}
		  {% if tags_list.first[0] == null %}
			{% for tag in tags_list %}
				<li>
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
					{{ tag }} <span>({{ site.tags[tag].size }})</span>
					{% unless forloop.last %},{% endunless %}
					</a>
				</li>
			{% endfor %}
		  {% else %}
			{% for tag in tags_list %}
				<li>
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
						{{ tag[0] }} <span>({{ tag[1].size }})</span>
						{% unless forloop.last %},{% endunless %}
					</a>
				</li>

			{% endfor %}
		  {% endif %}
		  {% assign tags_list = nil %}
		</ul>
		{% endunless %}

		<hr>

		<div>
      <section class="share col-sm-6">
        <h4 class="section-title">Share Post</h4>
        <a class="btn btn-default btn-sm twitter" href="http://twitter.com/share?text={{page.title | encode}}{% if site.author.twitter%}&via={{site.author.twitter}}{% endif %}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fa fa-twitter fa-lg"></i>
          Twitter
        </a>
        <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fa fa-facebook fa-lg"></i>
          Facebook
        </a>
        <a class="btn btn-default btn-sm gplus"
           onclick="window.open('https://plus.google.com/share?url='+window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
          <i class="fa fa-google-plus fa-lg"></i>
          Google+
        </a>
      </section>

      <section class="col-sm-6 author">
        <img src="https://avatars2.githubusercontent.com/u/13224223?v=3&u=325ddf0d8f97ae739da2f508bb89a89bfc76c380&s=75" class="img-rounded author-image" />
        <h4 class="section-title author-name">{{site.author.name}}</h4>
        <p class="author-bio">{{site.author.bio}}</p>
      </section>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div class="sc-kaynak">
     <h2>Türkçe Kaynaklar</h2>
     <hr>
     <script type="text/javascript">
     var scn = ["Gnu Bash","Linux Türkiye","getGNU",
                "getGNULinux", "Bash Kabuğu", "LPI Kitabı",
                "KK Linuxtan", "Sudo Ubuntu"];
     var sci = ["gbbk.png","lwebtr.png","getgnu.png",
                "getgnulinux.png", "bashkabugu.png", "lpik.png",
                "kklinux.png", "sudoubuntu.png"];
     var scl = ["http://www.getgnu.org/dosya/gbbk.pdf","https://linux.web.tr/","http://www.getgnu.org",
                "http://getgnulinux.org/tr","http://www.belgeler.org/lis/archive-tlkg-lis-6.html", "http://www.pardus.org.tr/wp-content/uploads/2016/09/LPI-Sertifikasyon-Kitab%C4%B1.pdf",
                "http://cayfer.bilkent.edu.tr/~cayfer/pusula/KKL/", "https://sudo.ubuntu-tr.net/"];
     var t = 0;
      for(i=0; i<5; i++ ){
      t=r;
 			var r = Math.ceil(Math.random()*8)-1;
      if(t != r)
 			document.write("<div class=sc-column><div class=sour-column><div class=sour-image ><a href="+scl[r]+" ><img src={{site.BASE_PATH}}/assets/media/sources/"+sci[r]+" width=100 height=150></a></div><div class=sour-content ><h5><a href="+scl[r]+" > "+scn[r]+"</a></h5></div></div></div>");}
    </script>
    </div>
	</div>

</article>
<div class="clearfix"></div>
